.contenitore{
  width: 95%;
  margin: auto;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.items{
  width: 50%;
  display: flex;
  align-items: center;
}

.items a{
  margin: 7px
}

.drop , .drop2{
  position: relative;
}
.content-drop{
  position: absolute;
  width: 50px;
  top:50px;
  display: none;
}
.active{
  display: block;
}
