@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;

}

.contenitore{
  width: 90%;
  margin: auto;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.items{
  display: flex;
  align-items: center;
}


.items a{
  margin: 8px
}

.drop{
  position: relative;
}
.active{
  display: block!important;
}
.content-drop{
  position: absolute;
  min-width: 150px;
  top:50px;
  left: -40px;
  display: none;
  box-shadow: 2px 2px 7px rgb(196, 196, 196);

}

/* LINK DENTRO IL DROPDOWN */
.content-drop a{
  padding: 20px;
  color: rgb(130, 130, 130);
  margin: 0;
  background: white;
  transition: background .2s;
}
.content-drop a:hover{
  background: rgb(237, 237, 237);
}

/* LINKs GENRALI */
nav a{
  color: rgb(147, 147, 147);
  font-size: 16px;
  text-decoration: none;
  display: block;
  letter-spacing: 1px;
}
nav a:hover{
  transition: .3s;
  color: black;
}

.right-items a , .left-items a{
  text-transform: capitalize;
}

.right-items > a , .drop > a {
  padding-right: 20px;
}

.btn-rosa{
  display: block;
  background-color: rgb(235, 0, 141);
  padding: 11px 25px;
  border-radius: 30px;
  color: white;
  margin-right: 0px;

}
.btn-rosa:hover{
  color: white;
  background-color: rgb(150, 16, 96);
}


.left-items a{
  text-transform: uppercase;
  margin-left: 20px
}














/*  */
